<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smalltalk</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-controller="MainCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div ng-cloak>
          <ul class="nav navbar-nav">
            <li data-match-route="/$"><a href="/">Home</a></li>
            <li ng-if="currentUser" data-match-route="/add"><a href="/add">Add</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
            <li data-match-route="/login"><a href="/login">Login</a></li>
            <li data-match-route="/signup"><a href="/signup">Sign up</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right" ng-if="currentUser">
            <li class="username" ng-bind="currentUser.email"></li>
            <li data-match-route="/logout"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Flash messages -->
    <div flash-alert active-class="in" class="flash-messages alert fade">
      <strong class="alert-message">{{flash.message}}</strong>
    </div>

    <div ng-view></div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
